
<%= form_for @stundent, :html => { :multipart => true } do |f| %>
  <% if @stundent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stundent.errors.count, "error") %> prohibited this stundent from being saved:</h2>

      <ul>
      <% @stundent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">  
    <div class="eight columns">    
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :lastname %>
      <%= f.text_field :lastname %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="four columns">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
    <br />
    <div class="twelve columns">
      <%= f.submit :class => "button" %>
    </div>
  </div>
<% end %>
